{% extends "master.html" %}
{% block content %}
                <ul class="nav nav-tabs">
                <li class="active"><a href="#files" data-toggle="tab">Tree</a></li>
                <li><a href="/{{ projectname }}/commits" data-toggle="tab">Commits</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Branches<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% for name in branches%}
                        <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                </li>
                </ul>
                <a href="/{{ projectname }}/commits">Commits</a>
                <div id="fileslist" class="cfix">
                    <span class="name">
                        Filelist
                    </span>
                    <div class="text-message">
                        Who committed
                    </div>
                    <table class="file-browser">
                        {% for dirdetails in dirs %}
                        <tr>
                            <td><img class="icon" src="{{ url_for('static', filename='directory.png') }}">
                                <a href="/{{ projectname }}/tree/{{ branch }}/{% if param != '' %}{{ param }}/{% endif %}{{ dirdetails }}">{{ dirdetails }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for filedetails in files %}
                        <tr>
                            <td><img class="icon" src="{{ url_for('static', filename='file.png') }}">
                                <a href="/{{ projectname }}/blob/{{ branch }}/{% if param != '' %}{{ param }}/{% endif %}{{ filedetails }}">{{ filedetails }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
{% endblock  %}