<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Kick It</title>
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='kickit.css')}}" />
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
            filename='bootstrap/css/bootstrap.min.css')}}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',
            filename='bootstrap/js/bootstrap.min.js')}}" />></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <!--Body content-->
        {% block content %}{% endblock %}
    </div>
<script type="text/javascript">
    $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    $('.dropdown-toggle').dropdown()
</script>
</body>
</html>